<div class="alert alert-success" *ngIf="successMsg">
  <p>Page added.</p>
</div>

<div class="alert alert-danger" *ngIf="errorMsg">
  <p>Page title exists, choose another.</p>
</div>

<h1 class="page-title">Add a page</h1>
<a class="btn btn-primary" routerLink="/admin/pages">Back to all pages</a>
<br>
<br>

<form novalidate #f="ngForm" (ngSubmit)="addPage(f)">

  <div class="form-group">
    <label for="">Title:</label>
    <input type="text" class="form-control" placeholder="Title" name="title" [(ngModel)]="title" #pageTitle="ngModel"
           minlength="3" required />
  </div>
  <div class="alert alert-danger" *ngIf="pageTitle.errors?.required && pageTitle.touched">
    Title is required.
  </div>
  <div class="alert alert-danger" *ngIf="pageTitle.errors?.minlength && pageTitle.touched">
    Minimum length is 3.
  </div>

  <div class="form-group">
    <label for="">Content:</label>
    <textarea class="form-control" name="content" cols="30" rows="10" placeholder="Content"
              [(ngModel)]="content"></textarea>
  </div>

  <div class="form-group">
    <label for="">Has Sidebar:
      <input type="checkbox" name="hasSidebar" [(ngModel)]="hasSidebar" >
    </label>
  </div>

  <div class="form-group">
    <button button class="btn btn-primary" [disabled]="!f.valid">Add page</button>
  </div>

</form>
